body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
	text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
	
	
}

main h2 {
	color: navy;
	grid-template: span 3;
    text-align: center;
    
}

article p {
	text-align: justify;

}

.callout {
	color: white;
	background-color: #702963;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
	margin-top: 2rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
