main {
    display: flex;
    flex-direction: column;
   gap: 30px;
}

main img {
    display:block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    animation: fade 15s;

}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}