* {
    margin: 0;


}

body {
    display: grid;
    height: 130px;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background-color: rgb(30, 161, 4);
    height: 100px;
    grid-column: 1/4;

}

main {
    display: grid;

    grid-template-columns: 70% 30%;

    grid-column: 1/span 3;

    max-width: 2500px;
    min-width: 1350px;
    max-height: 730px;
    gap: 5px;
    padding: 10px;

}

nav {
    margin: 0;
    padding: 0;

}



footer {
    background: black;
    color: #eee;
    height: 50px;
    text-align: center;
    grid-column: 1/3;
    padding: 20px;
}

.headstar {
    position: absolute;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    top: 58px;
    width: 100%;
}

.thehead {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    color: white;
    padding: 1px;
    text-align: center;
}

.headstar li {
    flex: 1 1 auto;

}

.headstar a {
    display: block;
    color: #eee;
    padding: .75rem;
    text-decoration: none;
}

.headstar a:hover {
    font-weight: 500;
    text-decoration: underline;
    color: rgb(95, 241, 76);
    text-decoration-color: rgb(95, 241, 76);

}

.card {


    border: 1px solid blue;

    padding: 0px;
    align-items: start;
    border-radius: 6px;
    background-color: bisque;

    box-sizing: border-box;

}

.card img {
    width: 200px;
    height: auto;


    align-items: center;

    padding-top: 30px;
    padding-left: 90px;

}

h2 {
    text-align: center;
    background-color: rgb(30, 161, 4);
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: 30px;
}

h3 {
    text-align: center;
    font-size: 25px;
}

.starlist {
    display: grid;
    justify-content: center;
    margin-right: 40px;
    margin-top: 225px;
    padding-right: 20px;
    font-size: 30px;

}

.starlist li a:hover {
    color: rgb(30, 161, 4);


}

.starlist {
    flex: 1 1 100%;
    padding: 5px;


}

.starlist a {
    align-items: center;
    font-size: 15px;
    /*color: black;*/
}

.pic {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.testone {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 200px auto;


    height: 350px;
}

.abox {
    padding-left: 0;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 0;
    font-size: 20px;

}

.abox2 {
    padding-left: 75px;
    padding-right: 90px;
    padding-top: 70px;
    padding-bottom: 0;
    font-size: 20px;

}

.mycolor {
    color: rgb(202, 16, 16);
}



#course-title {
    display:block;
    grid-column: 1/span 4;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
    padding: 1px;
    text-align: center;
    margin: 0 auto;
   

}

h1 {
    grid-column: 1 / span 2;
    text-align: center;
    height: 40px;


}