* {
    margin: 0;


}

body {
    display: grid;
    height: 130px;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background-color: rgb(30, 161, 4);
    height: 100px;
    grid-column: 1/4;

}
span {
    display:block;
}

main {
    display: grid;

    grid-template-columns: 70% 30%;

    grid-column: 1/span 3;

    max-width: 2500px;
    min-width: 1350px;
    max-height: 730px;
    gap: 5px;
    padding: 10px;

}
