select {
    width:300px;
    height: 30px;
    

}
form {
    display: grid;
    grid-row: auto;
   
    height:200px;
    max-width: 500px;
}
#thedate input {
    width: 500px;
    height: 30px;
}
#thedate  {
    margin: 0;
}
.theitems {
    display: flex;
    flex-direction: column;
}
.stars {
    color: red;
    position: relative;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: left;
}

.stars label {
    display: flex;
    align-items: center;
} 
input {
    padding: 10px;
}
footer {
    background: black;
    color: #eee;
    height: 100px;
    text-align: center;
    grid-column: span 2;
    padding: 20px;
    position: absolute;
    left: 10px;
    top: 550px;
    width:500px;

}
footer p {
    padding: 0px;
}
