select {
    width:300px;
    height: 30px;
    

}
form {
    display: grid;
    grid-row: auto;
   
    height:200px;
    max-width: 500px;
}
#thedate input {
    width: 350px;
    height: 30px;
}
#thedate  {
    margin: 0;
}
.theitems {
    display: flex;
    flex-direction: column;
}
.stars {
    color: red;
    position: relative;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: left;
}
.stars input {
    
   /*  margin: 20px 0 0 20px; */
}
.stars label {
    display: flex;
    align-items: center;
} 