 
:root {
    --bord: 5px solid #777;
    --mycolor: hsla(85, 47%, 68%, .7);
    --headcolor: rgb(85, 118, 179);
}
* {
    box-sizing: border-box;
}
.name {
    text-align: center;
    color: black;
    font-size: 40px;
}
body {
    display: flex;
    flex-direction: column;
   font-family: Lora, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
   
    background-color: var(--headcolor);
}
footer {
 
    background: black;
    color: #eee;
    min-height: 100px;
    text-align: center;
   grid-column: span 3;
    padding: 20px;
 
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
     box-sizing: border-box;
     
}
main img {
    width: 100%;
    height: auto;
 
}
 
div h2 {
   
   
    text-align: center;
}
 
 
div img {
   
   width:80px;
   height:auto;
   justify-content: center;
   padding-left: 8px;
 
}
 
.col {
    /*border-top: var(--bord);
    border-left: var(--bord);*/
    padding: 5px;
    text-align: right;
    font-weight: bold;
}
.col2 {
    /*border-top: var(--bord);
    border-left: var(--bord);*/
    padding: 5px;
    text-align: left;
}
 
.row {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row1 {
    display:grid;
   
    justify-content: center;
    padding-left: 30px;
}
.row1 h2 {
    padding-right: 30px;
}
 
 
  /*888888888*******************************************************************************************/
 
 
 
  @media screen and (min-width: 1000px) {
 
 
main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
.weather2 {
    display: grid;
    grid-template-columns: auto auto;
    width: 260px;
     text-align: left;
     padding: 10px;
     
    position: absolute;
    left: 40px;
   
   
     justify-content: center;
}
.weather2 > div {
     background-color: var(--mycolor);
     color: #000;
     padding: 5px;
     font-size: 15px;
     text-align: left;
     
 }
 
 
  .weather2 .row1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
   
 
 
   header {
        background-color: burlywood;
    }
   
 
  .weather2 {
    display: block;
  }
 
 h2 {
    background-color: antiquewhite;
    /*column-span:2;*/
 }
 
 main {
        display: Grid;
        grid-template-columns: 1fr;
       
    }
 .row1 h2 {
    background-color: var(--mycolor);
    padding-right: 0;
 }
 
  /* .countrydata {
    display: grid;
    grid-template-columns: auto auto;
    width: 260px;
     text-align: left;
     padding: 10px;
     
     justify-content: center;
} */
 
.countrydata > div {
     background-color: var(--mycolor);
     color: #000;
     padding: 5px;
     font-size: 15px;
     text-align: left;
   
 }
 
  .countrydata {
        display:block;
        width: 250px;
        box-sizing: border-box;
        
    position: absolute;
    right: 20px;
    bottom: 50px;
    
   }
   
 
   
  .countrydata h2 {
    width:100%;
    height:30px;
     margin: 0; 
     background-color: var(--mycolor);
  }
 
 .countrydata .row1 {
    display: grid;
    flex-direction: column;
    max-width: 100%;
    
  }
  .row1 img {
    display:none;
  }
  .weather2 h2::after {
    content: "🌤";
   }
 
   }
 
 


 