@media screen and (min-width: 1000px){
    header {
        background-color: #000;
        color: #fff;
    }
    .toplinks {
    display: flex;
   }
   
    
    
    .hmlink {
    display: none;
    }
    
  main {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-decoration: none;
    

} 



 

    
}
@media screen and (min-width: 600px){
    header {
        background-color: #000;
        color: #fff;
    }
    main {
        grid-template-columns: 1fr 1fr;
       
    }
  nav ul {
    
    flex-direction:column;
  }

}
    
