@media screen and (min-width: 990px) {
    header {
        background-color: #000;
        color: #fff;
    }


.navigate {
    
    flex-direction: row;
    background-color: rgb(165, 52, 81);
    justify-content: space-around;
    height: 50px;
    text-decoration: none;
}
.navigate a {
     text-decoration: none;
}
.navigate li a {
    text-decoration: none;
}
#menu {
    display:none;
}
p {
    text-align: center;
}
.name {
    text-align: left;
    font-size: xx-large;
}
main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.title {
    grid-column: span 3;
    text-align: center;
}
a {
    text-decoration: none;
}

}