@media screen and (min-width: 1073px) {
    main {
        grid-template-columns: 90% 90%;
        justify-content: center;
        gap: 25px;
    }

    .title {
        grid-column: span 2;
        text-align:center;
    }
    nav ul li {
        justify-content: right;
    }
    nav li a {
        display: none;
    }
    .navigate {
        text-decoration: none;
        flex-direction: row;
        background-color: rgb(54, 243, 54);
        justify-content: space-evenly;
        font-size: 20px;
        color: black;

    }
    .navigate a {
        text-align: right;
        justify-content: space-between;
        color: black;
    }
    .navigate li {
        display:block;
        flex: 1 1 auto;
        
    }
    .navigate li a {
        text-align: center;
        justify-content: center;
    }

    #menu {
        display: none;
    }
    nav li a:hover {
        text-decoration: none;
        
        
        color:red;
    }
    header {
        padding: 20px;
    }
    .name {
        padding: 0;
    }
}

@media screen and (min-width: 1500px) {
    main {
        grid-template-columns: 80% 80% 80%;
        justify-content: center;
    }

    .title {
        grid-column: span 3;
        text-align: center;
    }

    .navigate {
        
        flex-direction: row;
        background-color: rgb(54, 243, 54);
        grid-column: span 3;
        justify-content: space-between;
        font-size: 20px;
        width: 100%;
        color: black;

    }
    .navigate a {
        text-align: right;
        color: black;
    }
    .navigate li {
        display:block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    
    nav a:hover {
        text-decoration: none;
        
        color:red;
    }
    
    }
