@media screen and (min-width: 990px) {
    header {
        background-color: #000;
        color: #fff;
    }




header {
    /**/
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px;
    border: 1px solid #bbb;
    color: black;
    background-color: green;
    flex-direction: column;
   
}
.navigate {
    display:flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-around;
    height: 50px;
}
#menu {
    display:none;
}
p {
    text-align: center;
}
.name {
    text-align: center;
    font-size: xx-large;
}
main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.title {
    grid-column: span 3;
    text-align: center;
}


}