
  @media screen and (MIN-width: 20px) { 

* {
    margin:0;
    padding:0;
    
}
body {
    font-family: Lora, sans-serif;
}

main {
   display: grid;
   grid-template-columns:1fr;
   
   justify-content: space-around;
}

h1 {
    /*grid-column: 1 / span 3;
    text-align: center;
    gap:50px;*/
    grid-column: span 1;
    font-size: 1rem;
    padding: 1rem;
    background-color: #f7f1f1;
    color: #140202;
    text-align: center;
}

header,main {
    margin: 0 auto;
}



nav a:hover {
    text-decoration:aqua;
    background-color: blue;
    color: rgb(160, 31, 31);
}
footer p {
    padding: 0px;
}

.modfoot {
    padding-bottom: 10px;
}
.name {
    font-size: xx-large;
}

#menu {
    display: block;
    text-align: right;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size:50px;
    color:black;
    
}
#menu::before {
    content: "≡";
   
}
#menu.open::before {
    content: "X";
}
.navigate {
    list-style: none;
    margin: 0 auto;
    max-width: 560px;
    text-decoration: none;
    flex-direction: column;
    font-size: 25;
    align-items: center;
}
.navigate li {
    display:none;

}
.navigate a {
    display: block;
    text-decoration: none;
    padding: 0.75rem;
    text-align: left;
   
    width: 10px;
}
.navigate a:hover,
.navigate a:active {
    color:aqua;
    background-color: black;
}
.show li {
    display:block;

}
#menu.show::before {
    content: "X";
}
}/* end of media*/
footer {
    background: black;
    color: #eee;
    height: 100px;
    text-align: center;
    grid-column: span 3;
    padding: 20px;

}
nav ul {
    display:flex;
     text-decoration: none;
}

header {
    /**/
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px;
    border: 1px solid #bbb;
    color: black;
    background-color: rgb(54, 243, 54);
   
    text-decoration: none;
   
}
figcaption {
    text-align: center;
}
figure img {
    justify-content: center;
   max-width: 500px;

}

a {
     text-decoration: none;
}
.title {
    grid-column: 1;
}