@media screen and (min-width: 740px) {
    main {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .title {
        grid-column: span 2;
        text-align: center;
    }

    .navigate {
         text-decoration: none;
        flex-direction: row;
        background-color: rgb(54, 243, 54);
        justify-content: space-between;
        font-size: 20px;
        color: black;

    }
    .navigate a {
        text-align: right;
        color: black;
    }
    .navigate li {
        display:block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
    nav a:hover {
        text-decoration: none;
        background-color: brown;
        color:chartreuse;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }

    .title {
        grid-column: span 3;
        text-align: center;
    }

    .navigate {
        
        flex-direction: row;
        background-color: rgb(54, 243, 54);
        justify-content: space-between;
        font-size: 20px;
        color: black;

    }
    .navigate a {
        text-align: right;
        color: black;
    }
    .navigate li {
        display:block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    
    nav a:hover {
        text-decoration: none;
        background-color: brown;
        color:chartreuse;
    }
    
    }
