@media screen and (min-width: 890px) {

    main {

        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        justify-content: space-evenly;

    }
 
    .title {

        grid-column: span 2;

        text-align: center;

    }
 
    .navigate {

        display: flex;

        flex-direction: row;

        background-color: rgb(54, 243, 54);

        justify-content: space-evenly;

        font-size: 20px;

        color: black;

        max-width: 100%;

    }
 
    .navigate li {

        display: block;

        flex: 1 1 auto;

    }
 
    .navigate a {

        color: black;

        text-align: center;

    }
 
    #menu {

        display: none;

    }
 
    nav a:hover {

        background-color: brown;

        color: rgb(209, 17, 65);

    }

}
 
@media screen and (min-width: 1000px) {

    main {

        grid-template-columns: 1fr 1fr 1fr;

        justify-content: space-evenly;

    }
 
    .title {

        grid-column: span 3;

        text-align: center;

    }
 
    .navigate {

        justify-content: space-between;

        width: 100%;

    }
 
    .navigate li {

        display: block;

        flex: 1 1 auto;

    }
 
    .navigate a {

        color: black;

        text-align: center;

    }
 
    #menu {

        display: none;

    }
 
    nav a:hover {

        background-color: brown;

        color: rgb(214, 12, 22);

    }

}

 