

@media screen and (max-width: 900px){
    header {
        background-color: #c017174f;
        color: #fff;
    }
    
   .hmlink {
    display: block;
   }
    
        
}

body {
    font-family: "Roboto", sans-serif;
    color: rgb(186, 165, 165);
    text-decoration: none;
}

header,
main,
footer {
    /**/
    
    border: 1px solid #bbb;
    color: black;
    background-color: #2973b9;

}

main {


    text-decoration: none;


}



footer p {
    padding: 0px;
}

.p2 {
    padding-bottom: 10px;
}

footer {
    background: black;
    color: #eee;
    height: 100px;
    text-align: center;

}

main h1 {

    background-color: aqua;
}
.toplinks {
    list-style-type: none;


.toplinks li {
    flex: 1 1 100%;

}

.toplinks a:hover {
    border: 1px solid;
}
}
.headham {
    list-style-type: none;
}

.toplinks a {
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
}

.numfig {
    grid-column-start: 1;
    grid-column-end: 2;
}



.list {
    /* pictures */
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
}



.hmlink {
    /*hambuger menu */
    display: block;
}



.hmlink {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.links span{
    height: 5px;
    width: 100%;
    background-color: rgb(64, 0, 255);
    border-radius: 25px;
    position: absolute;
    
    transform: translate(-50%, -50%);
    transition: .3 ease;
}

.hmlink span:nth-child(1) {
    top: 25%;
}

.hmlink span:nth-child(3) {
    top: 75%;
}
.hmlink {
   
    color: rgb(230, 14, 14);
    background-color: burlywood;
}
.hmlink.active {
    right: 0;
}

.hmlink.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hmlink.active span:nth-child(2) {
    opacity: 0;
}
.hmlink.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}
.hmlink {
    background-color: rgb(123, 128, 150);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right:-450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.toplinks {
        display: none;
    }

   
.headlink {
        display: flax;

    }

.hmlink {
        display: block;
        padding: 1rem;
        justify-content: space-evenly;
    }
.links {
        display: none;
        list-style-type: none;
    }