@media screen and (min-width: 1000px){
    header {
        background-color: #000;
        color: #fff;
    }
    .toplinks {
    display: flex;
   }
   
    
    
    .hmlink {
    display: none;
    }
    
   


.list {
   
     grid-template-columns: 1fr 1fr 1fr;
     justify-content: space-between;
     padding: 20px;
}
 

    
}
@media screen and (min-width: 600px){
    header {
        background-color: #000;
        color: #fff;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
       
    }
  nav ul {
    
    flex-direction:column;
  }

}
    
