* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 30px;
}

main {
	margin: 1rem auto;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 1rem;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
}

input,
button {
	padding: 0.5rem;
}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 492px){
	

	h1 {
		font-size: 20px;
		margin: 1rem;
		color: navy;
	}
}	
@media only screen and (min-width: 600px){
	h1 {
		font-size: 30px;
		margin: 1rem;
		color: rgb(128, 0, 32);
	}
}

@media only screen and (min-width: 700px){
	h1 {
		font-size: 40px;
		margin: 1rem;
		color: rgb(8, 190, 53);
	}
}

	main {
		width: 320px;
	}

